@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root{
    --fonte-primaria: 'Roboto', sans-serif;
}

body{
    background-color: #F1F6F9;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    background-color: #088395;
}

.cabecalho{
    
    display:flex;
    background-color: #0A4D68;
}

.imagem_perfil{
    
    padding: 1% 0 1% 8%;
    width: 20%;
    height: 20%;
}

.cabecalho__dados_perfil{
    padding-left: 5%;
    margin-top: 2%;
}

.cabecalho__nome{
    font-family: var(--fonte-primaria);
    color:#ffffff
}

.cabecalho__redes{
    font-family: var(--fonte-primaria);
}

.cabecalho__linkedin{
    text-decoration: none;
    color:#ffffff;
}

.cabecalho__github{
    text-decoration: none;
    color:#ffffff;
}

.cabecalho__contato{
    text-decoration: none;
    color:#ffffff;
}


/*************\
  DADOS PERFIL
\*************/

.apresentacao__sobre{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
}