@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;900&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #CBE4DE;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 0px 13px 1px #000000;
    width: 90%;

}

.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #2E4F4F;
    width: 100%;
    padding: 24px;
    
}

.imagem_perfil{
    height: 15rem;
}

.cabecalho__dados{
    display: flex;
    flex-direction:column;
    justify-content: space-around;

}

.cabecalho__info__nome{
    font-family: 'Source Sans Pro', sans-serif;
    color:#ffff;
    font-size: 2.5em;
}

.cabecalho__info__dados{
    font-family: 'Source Sans Pro', sans-serif;
    color:#ffff;
    font-size: 1.5em;
}

/******************\
 CORPO - INFORMAÇÕES
\******************/

.apresentacao{
    display:flex;
    flex-direction: column;
    height: 80vh;
    background-color: #0E8388;
}

.apresentacao__sobre{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 36px 50px 36px 50px;
}

.apresentacao__sobre__conteudo{
    font-family: 'Source Sans Pro', sans-serif;
    border-left: 0.4em solid rgb(0, 0, 0);
    
}

.apresentacao__sobre__titulo{
    padding-left: 20px;
    
}

.apresentacao__sobre__descricao{
    text-align: justify;
    padding-left: 20px;
}

.escolaridade{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}