@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;900&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #F2F9F1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 0px 13px 1px #000000;
    width: 90%;

}

.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #5C715E;
    width: 100%;
    padding: 24px;
    
}

.imagem_perfil{
    height: 15rem;
}

.cabecalho__dados{
    display: flex;
    flex-direction:column;
    justify-content: space-around;

}

.cabecalho__info__nome{
    font-family: 'Source Sans Pro', sans-serif;
    color:#ffff;
    font-size: 2.5em;
}

.cabecalho__info__dados{
    font-family: 'Source Sans Pro', sans-serif;
    color:#ffff;
    font-size: 1.5em;
}

/******************\
 CORPO - INFORMAÇÕES
\******************/

.apresentacao{
    display:flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

.apresentacao__sobre{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 36px 50px 36px 50px;
}

.apresentacao__sobre__conteudo{
    font-family: 'Source Sans Pro', sans-serif;
    border-left: 0.4em solid #5C715E;
    
}

.apresentacao__sobre__titulo{
    display: inline-block;
    background-color: #5C715E;
    margin: 0 20px;
    padding: 4px 10px 4px 10px;
    color:#ffff
}

.apresentacao__sobre__descricao{
    text-align: justify;
    padding-left: 20px;
    
}

/******************\
 CORPO - OBJETIVO
\******************/

.objetivo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 36px 50px 36px 50px;
}

.objetivo__dados{
    border-left: 0.4em solid #5C715E;
}

.objetivo__dados__conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.objetivo__dados__conteudo__titulo{
    display: inline-block;
    background-color: #5C715E;
    margin: 0 20px;
    padding: 4px 10px 4px 10px;
    color:#ffff
}

.objetivo__dados__conteudo__descricao{
    text-align: justify;
    padding-left: 20px;
    
}

/******************\
 CORPO - FORMACAO
\******************/

.formacao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 36px 50px 36px 50px;
}

.formacao__academica{
    border-left: 0.4em solid #5C715E;
}

.formacao__academica__informacao__geral{
    font-family: 'Source Sans Pro', sans-serif;
}

.formacao__academica__titulo{
    display: inline-block;
    background-color: #5C715E;
    margin: 0 20px;
    padding: 4px 10px 4px 10px;
    color:#ffff
}

.formacao__academica__instituicao{
    padding-left: 20px;
    color: #5C715E;
}

.formacao_academica__descricao{
    padding-left: 20px;
    text-align: justify;
    
}

/******************\
 CORPO - CURSOS
\******************/

.formacao__academica__cursos{
    margin-top: 50px;
    border-left: 0.4em solid #5C715E;
}

.formacao__academica__cursos__cabecalho{
    display: inline-block;
    margin: 0 20px;
    padding: 4px 10px 4px 10px;
    background-color: #5C715E;
    color:#ffff;
}

.formacao__academica__cursos__informacoes_gerais{
    font-family: 'Source Sans Pro', sans-serif;
}

.formacao__academica__cursos__instituicao{
    padding-left: 20px;
    color: #5C715E;
}

.formacao__academica__cursos__preparacao{
    text-align: justify;
    color: #5C715E;
    padding-left: 20px;
    
}

/******************\
 CORPO - EXPERIENCIA
\******************/

.experiencias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 36px 50px 36px 50px;
    
}

.experiencias__conteudo__geral{
    border-left: 0.4em solid #5C715E;
    
}

.experiencias__descricao__dados__gerais{
    font-family: 'Source Sans Pro', sans-serif;
    color: #5C715E;
    
}

.experiencias__titulo{
    display: inline-block;
    margin:0 20px;
    padding: 4px 10px 4px 10px;
    background-color: #5C715E;
    color:#ffff;
}

.experiencias__descricao{
    text-align: justify;
    padding-left: 20px;
}

/******************\
 CORPO - HABILIDADES
\******************/
/*
.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.habilidades__descricao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 36px 50px 36px 50px;
}

.habilidades__descricao__geral__conteudo{
    font-family: 'Source Sans Pro', sans-serif;
    border-left: 0.4em solid rgb(0, 0, 0);
}

.habilidades__titulo{
    padding-left:20px;
}

.habilidades__descricao__habilidade{
    text-align: justify;
    padding-left: 20px;
}
*/

/******************\
   CORPO - BOTOES
\******************/

.projetos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 36px 50px 36px 50px;
}

.projetos__conteudo__geral{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif;
    gap:10px;
    border-left: 0.4em solid #5C715E;
    
}


.projetos__descricao__cabecalho{
    display: inline-block;
    margin: 0 20px;
    padding: 4px 10px 4px 10px;
    background-color: #5C715E;
    color:#ffff;
    
}

.projetos__botao__primeira__linha,
.projetos__botao__segunda__linha,
.projetos__botao__terceira__linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}

.projetos__botao{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px;
    background-color: #B6CDBD;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0.5px #919191;
    cursor:pointer;
    transition: 0.2s ease-in-out;
        
}

.projetos__botao:hover{
    background-color: #DDEEDF;
    transform: translate(1px);
}

.projetos__botao:active{
    background-color: #F2F9F1;
}


.projetos__botao__textos{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

}


@media (max-width:1080px){

    .container{
        box-shadow: none;
    }

    .cabecalho{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        padding: 24px;
        
    }

    .projetos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
        padding: 36px 50px 36px 50px;
    }

    .projetos__botao__primeira__linha,
    .projetos__botao__segunda__linha,
    .projetos__botao__terceira__linha{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        
    }

    .projetos__botao{
        position: relative;
        display: inline-block;
        justify-content: center;
        width: 200px;
        height: 50px;
        padding: 10px;
        background-color: #B6CDBD;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 0.5px #919191;
        cursor:pointer;
        transition: 0.2s ease-in-out;
        
        
    }

    .projetos__botao:hover{
        background-color: #DDEEDF;
        transform: translate(0.5px);
    }
    
    .projetos__botao:active{
        background-color: #F2F9F1;
    }
    
}